<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="notification-service"/>
    <property name="environment" value="${APP_ENV:-local}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <customFields>{"service":"${applicationName}","environment":"${environment}"}</customFields>
        </encoder>
    </appender>

    <root level="${LOGGING_LEVEL_ROOT:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="docker">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST:-localhost}:${LOGSTASH_PORT:-5000}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>true</includeMdc>
                <customFields>{"service":"${applicationName}","environment":"${environment}"}</customFields>
            </encoder>
        </appender>

        <root level="${LOGGING_LEVEL_ROOT:-INFO}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>
